


.form-basic{
    position: relative;
    background-color: #F5F5F5;
    margin-top: -45%;
    margin-left: 17%;
    justify-content: space-between;
    overflow-x: hidden;
}


.form-basic .form{
    display: flex;
    position: relative;
    background-color: white;
    margin-top: -27%;
    margin-left: 0%;
    justify-content: space-between;
    
   
   
}

.form-basic .input {
    /* display: flex; */
    width: 50vh;
    height: 6vh;
    color: #7D7D7D;
    border: 1px solid #C3C3C3;
    border-radius: 8px;
}


.form-basic .form-container1 {
    margin-top: 300px;
    padding: 1%;    
    /* display: grid; */
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;

    
}

.form-basic .SaveBtn{
    background-color:#4C57B6;
}
.form-basic h3 {
    margin: 2%;
    padding-left: 100px;
    text-align: left;
    font-size: 22px;
    color: #7D7D7D;
    
}



.form-basic .form-container2 {
    margin-top: 300px;
    padding: 1%;
    /* display: grid; */
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;

}

.form-basic button{
    background-color:#6AB4F8;
    padding: 10px 15px;
    border:1px solid #6AB4F8;
    border-radius: 25px;
    color: white;
    margin-right: 10px; 
    margin-top: 25px;
    
}
.form-basic .buttons{
    margin-left: 5%;
    background-color: white;
    width: 100%;
    /* align-self: flex-start; */
    padding-bottom: 2%;
}